
{% extends 'base.html' %}
{% block title %} Add Category {% endblock%}
{% block customname %}{% endblock%}
{% block body %} 
<div class="container expense-pad">
	<div class="">
		<h2 class="mt-3 text-center">Add Category</h2>
	</div>
	<form id="submit" action="/expense/addCategory/" method="post" autocomplete="off">
		{% csrf_token %}
		<div class="mb-1">
			<div class="mb-3 mt-3">
				<label for="category" class="form-label">Category</label>
				<input type="text" class="form-control shadow-none" id="category" name='category'>
			</div>

			<div class="mb-3">
				<input name='' hidden></input>
				<button type="submit" id="submit" class="btn btn-primary btn-grad">ADD</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
{% block script %}
<script>
		$("#submit").validate({
			rules: {
				category: {
					required:true,
				}
			},
			messages: {
				category: {
					required: 'Category is required',
				}
			}
		});
</script>
{% endblock%}